<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.3/mask.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <style type="text/css">
 

#HQ{
position:relative;
top:25px;
}

body{
background-color:lavender;
top:20px; 

}




.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}

::-webkit-input-placeholder {
    font-style:italic;
}

.required:before {
content:" *"; 
color: #e32;
position: relative; 
font-size: large; 
 }
 
h1{
  color:red;
  font-family: "Times New Roman", Times, serif;
}


 </style>
</head>
<body ng-app="myApp" style="background-color:lavender;">
<div  ng-controller="myCtrl">
<form name="myform" ng-submit="subsignup()">
<div class="container-fluid">
  <div class="page-header" id="hd">
    <h1>Edit an equipment</h1>      
  </div>

  <div class="row" >
    <div class="col-sm-2" style="background-color:lavender;">
    <div class="checkbox">
    <label><input type="checkbox" value="" ng-model="rolling">Rolling</label>
    </div> 
    </div>
    <div class="col-sm-2" style="background-color:lavender;">
    <div class="checkbox">
    <label><input type="checkbox" value="" ng-model="AFI">Available for Issue</label>
    </div>
    </div>
    <div class="col-sm-2" style="background-color:lavender;">
    <div class="checkbox">
    <label><input type="checkbox" value="" ng-model="GAS">GA-synced</label>
    </div>
    </div>
    <div class="col-sm-2" style="background-color:lavender;">
    <div class="checkbox">
    <label><input type="checkbox" value="" ng-model="GARMY">G-Army</label>
    </div>
    </div>
    <div class="col-sm-2" style="background-color:lavender;" id="ns" >
    <div class="checkbox">
    <label><input type="checkbox" value="" ng-model="NTS">Noted Shortages</label>
    </div>
    </div>
    <div class="col-sm-2" style="background-color:lavender;" id="cc">
    <div class="checkbox">
    <label><input type="checkbox" value="" ng-model="CC">Coolant Check</label>
    </div> 
    </div>

    </div>
    <hr>
    <div class="row">
     <div class="col-sm-3" style="background-color:lavender;">
     <div class="form-group" ng-class="{'has-error':myform.cost.$invalid && myform.cost.$dirty}">
      <label for="cost">Cost ($)</label>
      <span class="required"> </span>
      <input type="text" class="form-control" id="cost" name="cost" ng-model="cost"   required> 
      <span class="help-block has-error" ng-if="myform.cost.$dirty"> 
      <span ng-show="myform.cost.$error.required">The cost is required.</span>
      </span>
    </div>
     
     </div> 
     
     
     
     
     <div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" ng-class="{'has-error':myform.QTY.$invalid && myform.QTY.$dirty}">
      <label for="QTY">Quantity</label>
      <span class="required"> </span>
      
      <input type="text" class="form-control" id="QTY" name="QTY" ng-model="QTY" required>
  <span class="help-block has-error" ng-if="myform.QTY.$dirty"> 
      <span ng-show="myform.QTY.$error.required">The Quantity is required.</span>
      </span>
    </div>

</div>
     <div class="col-sm-6" style="background-color:lavender;" id="Nomen">
    <div class="form-group" >
     <label for="Nomen">Lin and Nomenclature</label>
    <select ng-model="nomen_id" ng-options="nomen.id as nomen.lin  + ' - ' + nomen.nomen  for nomen in datap">
</select>

  </div>
</div>

     </div>
     <div class="row">
      <div class="col-sm-3" style="background-color:lavender;">
     <div class="form-group" ng-class="{'has-error':myform.EIC.$invalid && myform.EIC.$dirty}">
      <label for="EIC">Equipment Identification Code</label>
      <span class="required"> </span>
      <input type="text" class="form-control" id="EIC" name="EIC" ng-model="EIC" ui-mask="{{maskEIC}}" required> 
      <span class="help-block has-error" ng-if="myform.EIC.$dirty"> 
      <span ng-show="myform.EIC.$error.required">The EIC is required.</span>
      </span>
      
    </div>
     
     </div> 
     
      <div class="col-sm-3" style="background-color:lavender;">
     <div class="form-group" ng-class="{'has-error':myform.NSN.$invalid && myform.NSN.$dirty}">
      <label for="NSN">NSN</label>
      <span class="required"> </span>
      <input type="text" class="form-control" id="NSN" name="NSN" ng-model="NSN" ui-mask="{{maskNSN}}" required> 
      <span class="help-block has-error" ng-if="myform.NSN.$dirty"> 
      <span ng-show="myform.NSN.$error.required">The NSN is required.</span>
      </span>
    </div>
     
     </div> 
     <div class="col-sm-3" style="background-color:lavender;">
   <div class="form-group" >
      <label for="SUBLIN">Sublin</label>
      <input type="text" class="form-control" id="SUBLIN" name="SUBLIN" ng-model="sublin" ui-mask="{{maskLIN}}" > 
    
    </div>
   
   </div> 
   <div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" >
      <label for="HRS">HRS@Reception</label>
      <input type="text" class="form-control" id="HRS" name="HRS" ng-model="HRS"> 
    </div>
     
     </div> 
      
     </div>
     
     

<div class="row">
<div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" ng-class="{'has-error':myform.BumpNo.$invalid && myform.BumpNo.$dirty}">
      <label for="BumpNo">FMCDY Bumper Number</label>
      <span class="required"> </span>
      <input type="text" class="form-control" id="BumpNo" name="BumpNo" ng-model="FBN" required> 
       <span class="help-block has-error" ng-if="myform.BumpNo.$dirty"> 
      <span ng-show="myform.BumpNo.$error.required">The Bumper Number is required.</span>
      </span>
    </div>
     
     </div> 

     <div class="col-sm-3" style="background-color:lavender;">
     <div class="form-group" ng-class="{'has-error':myform.Model.$invalid && myform.Model.$dirty}">
      <label for="Model">Model</label>
      <span class="required"> </span>
      <input type="text" class="form-control" id="Model" name="Model" ng-model="Model" required> 
      <span class="help-block has-error" ng-if="myform.Model.$dirty"> 
      <span ng-show="myform.Model.$error.required">The Model is required.</span>
      </span>
    </div>
     
     </div> 
     
<div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" >
      <label for="MI">MI@Reception</label>
      <input type="text" class="form-control" id="MI" name="MI" ng-model="MI"> 
    </div>
     
     </div>      
     
<div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" >
      <label for="CoolN">Coolant Note</label>
      <input type="text" class="form-control" id="CoolN" name="CoolN" ng-model="CN"> 
    </div>
     
     </div> 

     </div>
     <div class="row">
     
     <div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" ng-class="{'has-error':myform.UTU.$invalid && myform.UTU.$dirty}" >
      <label for="UTU">SDT/Unit to Unit</label>
      <span class="required" > </span>
      <input type="text" class="form-control" id="UTU" name="UTU" ng-model="SDT" required> 
      <span class="help-block has-error" ng-if="myform.UTU.$dirty"> 
      <span ng-show="myform.UTU.$error.required">The SDT/UTU is required.</span>
      </span>
    </div>

</div>
<div class="col-sm-3" style="background-color:lavender;" id="HQ">
     <div class="form-group" >
     <label for="HQ">Headquarters</label>
    <select ng-model="command_id" ng-options="hq.id as hq.HQ for hq in data">
</select>
  </div>
</div>

     
     
     
     <div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" >
      <label for="VEHREG">Vehicle Registration Number</label>
      <input type="text" class="form-control" id="VEHREG" name="VEHREG" ng-model="VEHR" > 
    </div>
     
  </div>
  
  <div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" >
      <label for="misinfo">Mismatch Info</label>
      <input type="text" class="form-control" id="misinfo" name="misinfo" ng-model="Minfo" > 
    </div>

</div>
 
  
     
  
</div>
<div class="row">
<div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" ng-class="{'has-error':myform.UIC.$invalid && myform.UIC.$dirty}">
      <label for="UIC">Unit Identification Code</label>
       <span class="required"> </span>
      <input type="text" class="form-control" id="UIC" name="UIC" ng-model="UIC" ui-mask="{{maskUIC}}" required> 
       <span class="help-block has-error" ng-if="myform.UIC.$dirty"> 
      <span ng-show="myform.UIC.$error.required">The UIC is required.</span>
      </span>
    </div>

</div>



<div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" ng-class="{'has-error':myform.Unit.$invalid && myform.Unit.$dirty}">
      <label for="Unit">Unit</label>
      <span class="required"> </span>
      <input type="text" class="form-control" id="Unit" name="Unit" ng-model="Unit" required> 
      <span class="help-block has-error" ng-if="myform.Unit.$dirty"> 
      <span ng-show="myform.Unit.$error.required">The Unit is required.</span>
      </span>
    </div>

</div>
<div class=" col-sm-3" style="background-color:lavender;" >
     <div class="form-group" >
      <label for="NewGen">New Gen #</label>
      <input type="text" class="form-control" id="NewGen" name="NewGen" ng-model="newgen"> 
    </div>

</div>

<div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" >
      <label for="UnitBump">Unit Bumper #</label>
      <input type="text" class="form-control" id="UnitBump" name="UnitBump" ng-model="unitbump"> 
    </div>

</div>


 

</div>
<div class="row">

 <div class="col-sm-3" style="background-color:lavender;" >
    <div class="datepickerdemo"  layout="column" ng-cloak>
        <label> Date Received </label>
         <md-content style="overflow: hidden;">
           
            <md-datepicker 
               ng-model="DREC" 
               md-placeholder="Enter date"></md-datepicker>
     
            </md-content>
        </div>
     
  </div>
<div class="col-sm-3" style="background-color:lavender;" >
      <div class="datepickerdemo"  layout="column" ng-cloak id="MD" >
      <label> Manufacturing Date </label>
         <md-content style="overflow: hidden;">
            
            <md-datepicker 
               ng-model="MFG" 
               md-placeholder="Enter date"></md-datepicker>
     
            </md-content>
        </div>
     </div>


<div class="col-sm-3" style="background-color:lavender;" >
     <div class="form-group" >
      <label for="SN">Serial Number</label>
      <input type="text" class="form-control" id="SN" name="SN" ng-model="SN"> 
    </div>
    </div>


<div class="col-sm-3" style="background-color:lavender;" >
<div class="form-group">
  <label for="remarks">Remarks</label>
  <textarea class="form-control" rows="2" id="remarks" ng-model="remarks"></textarea>
</div>
</div>

</div>
<div class="row">


<div class="col-sm-3" style="background-color:lavender;" >
     <div class="datepickerdemo"  layout="column" ng-cloak>
        <label>HR FMCDY to Unit </label>
         <md-content  style="overflow: hidden;">
            
            <md-datepicker 
               ng-model="HRFU" 
               md-placeholder="Enter date" ng-required="false"></md-datepicker>
     
            </md-content>
        </div>

</div>

<div class=" col-sm-3" style="background-color:lavender;" >
    <div class="datepickerdemo"  layout="column" ng-cloak>
            <label>Date Added</label>
         <md-content style="overflow: hidden;" >
            <md-datepicker 
                ng-model="DA"
               md-placeholder="Enter date"></md-datepicker>
     
            </md-content>
        </div>

</div>

<div class="col-sm-6" style="background-color:lavender;" id="but">
<button  type="submit" class="btn btn-primary btn-lg btn-block">
Submit!
</button>
</div>




</div>



</div>
</form>
</div>
<script>

var app = angular.module("myApp", ['ngMaterial','ngMessages','ui.mask']);
app.controller("myCtrl", ['$scope','$http',function($scope, $http) {
  $scope.datas= <%- JSON.stringify(user) %>;

    $scope.rolling=$scope.datas.rolling ;  
    $scope.AFI=$scope.datas.AFI ; 
    $scope.GAS=$scope.datas.GAS ; 
    $scope.GARMY=$scope.datas.GARMY ; 
    $scope.NTS=$scope.datas.NTS ; 
    $scope.CC=$scope.datas.CC ; 

    $scope.cost = $scope.datas.cost ; 
   
    $scope.SDT=$scope.datas.SDT ;
    $scope.Unit=$scope.datas.Unit ;
    $scope.UIC=$scope.datas.UIC ;
    $scope.QTY=$scope.datas.QTY ;
    $scope.EIC=$scope.datas.EIC ;
    $scope.NSN=$scope.datas.NSN ;
     $scope.Model=$scope.datas.Model ;
    $scope.FBN=$scope.datas.FBN ;
    $scope.unitbump=$scope.datas.Unitbump ;
  $scope.sublin=$scope.datas.sublin  ;
  $scope.Minfo=$scope.datas.Minfo;
    $scope.newgen=$scope.datas.Newgen ;
    $scope.HRS=$scope.datas.HRS ;
    $scope.MI=$scope.datas.MI ;
    $scope.CN=$scope.datas.CN;
    $scope.SN=$scope.datas.SN ;
    $scope.VEHR=$scope.datas.VEHR;
    $scope.remarks=$scope.datas.Remarks ;
    
      
    $scope.nomen_id=$scope.datas.nomen_id;
    $scope.command_id=$scope.datas.command_id;
    
    $http.get("/command")
    .then(function(response) {
        
        $scope.data= response.data;


    });
    
    $scope.HQS="";  
    $http.get("/primelin")
    .then(function(response) {
        
        $scope.datap= response.data;
        
        

    });

    /*
   if($scope.datas.DA==new Date("0000-00-00")){
      $scope.DA=new Date("0000-00-00");
   }
   else{
    $scope.DA=new Date($scope.datas.DA);

   }
    if($scope.datas.HRFU!=null){
      $scope.HRFU=new Date($scope.datas.HRFU);
   }
   if($scope.datas.MFG!=null){
      $scope.MFG=new Date($scope.datas.MFG);
   }
   if($scope.datas.DREC){
      $scope.DREC=new Date($scope.datas.DREC);
   }
    
    $scope.obj=new Date("0000-00-00")

    if($scope.datas.DA==new Date("0000-00-00")){
      $scope.DA=null;
    }
    else{
    $scope.DA=new Date($scope.datas.DA);
   }
   /*
   if($scope.datas.DREC==$scope.obj)
   {
      $scope.DREC="0000-00-00";
    }
    else{
    $scope.DREC=new Date($scope.datas.DREC);
   }

*/
   //alert($scope.datas.DREC);
  
  
if($scope.datas.DREC=="0000-00-00"){
    $scope.DREC="";
  }
  else{
    $scope.DREC=new Date($scope.datas.DREC);
  }

if($scope.datas.MFG=="0000-00-00"){
    $scope.MFG="";
  }
  else{
    $scope.MFG=new Date($scope.datas.MFG);
  }

  if($scope.datas.DA=="0000-00-00"){
    $scope.DA="";
  }
  else{
    $scope.DA=new Date($scope.datas.DA);
  }

  if($scope.datas.HRFU=="0000-00-00"){
    $scope.HRFU="";
  }
  else{
    $scope.HRFU=new Date($scope.datas.HRFU);
  }


    
    
    $scope.maskNSN="9999-99-999-9999";
    $scope.maskLIN="A99999";
    $scope.maskEIC="***";
    $scope.maskUIC="A*****";
    $scope.myDate = new Date();
            $scope.minDate = new Date(
               $scope.myDate.getFullYear(),
               $scope.myDate.getMonth() - 2,
               $scope.myDate.getDate());
            $scope.maxDate = new Date(
               $scope.myDate.getFullYear(),
               $scope.myDate.getMonth() + 2,
               $scope.myDate.getDate());
            $scope.onlyWeekendsPredicate = function(date) {
               var day = date.getDay();
               return day === 0 || day === 6;
            }

    $scope.subsignup=function(){
        $http.post('/user/update/<%= user.id %>', {
            rolling:$scope.rolling,
            AFI:$scope.AFI,
            GAS:$scope.GAS,
            GARMY:$scope.GARMY,
            cost:$scope.cost,
            NTS:$scope.NTS,
            command_id:$scope.command_id,
            nomen_id:$scope.nomen_id,
            
            
            sublin:$scope.sublin,
            EIC:$scope.EIC,
            NSN:$scope.NSN,
            Model:$scope.Model,
            
            FBN:$scope.FBN,
            HRS:$scope.HRS,
            MI:$scope.MI,
            CN:$scope.CN,
            MFG:$scope.MFG,
            SN:$scope.SN,
            VEHR:$scope.VEHR,
            DREC:$scope.DREC,
            SDT:$scope.SDT,
            Unit:$scope.Unit,
            UIC:$scope.UIC,
            
            QTY:$scope.QTY,
            HRFU:$scope.HRFU,
            Remarks:$scope.remarks,
            Minfo:$scope.Minfo,

            DA:$scope.DA,
            Newgen:$scope.newgen,
            CC:$scope.CC,
            Unitbump:$scope.unitbump
            
            
            
            

            


        })
        .then(function onSuccess(){
            window.location='/user/show/<%= user.id %>';

        });
    };
    
    
}]);


       
</script>
</body>
</html>
