<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.3/mask.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<style type="text/css">
  
  body{
    top:60px;
  }

  #us{
    position:relative;
    text-align: right;
    top:35px;
  }

  .form-control{
    width:25%;
  }


  table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}
table td {
   
}
table .absorbing-column {
    width: 50%;
}
</style>





</head>



<body ng-app="myapp" ng-controller="myCtrl">


<form class="form-inline">


<div id="us">
<div class="form-group has-feedback">

<label>Universal Search </label>
<input type="text" ng-model="usearch" class="form-control" placeholder="Search">
<i class="glyphicon glyphicon-search form-control-feedback"></i>
</div>
</div>
</div>
</form>


<pre>Sort by = {{propertyName}}; reverse = {{reverse}}</pre>
  <hr/>
  <button ng-click="propertyName = null; reverse = false">Set to unsorted</button>
  <hr/>
<table class="table table-striped table-hover">
<thead>
<tr>

<th>
  <button ng-click="sortBy('name')" class="btn btn-lg btn-success">Name</button>
        <span class="sortorder" ng-show="propertyName === 'cost'" ng-class="{reverse: reverse}"></span>

   
</th>




  

<th></th>
<th></th>
<th class="absorbing-column"></th>

</tr>
<tr>
<th>
<div class="form-group has-feedback">
<input type="text" ng-model="SA['name']" class="form-control" placeholder="Search">

</div>
</th>


<th>
</th>
<th>
</th>
<th>
</th>
</tr>

</thead>
<tbody>
<tr>
  
</tr>
<tr ng-repeat="exercise in exercises|orderBy:propertyName:reverse|filter:SA|filter:usearch">
<td>{{exercise.name}}</td>



<td><a href="/exercise/show/{{exercise.id}}" class="btn btn-sm btn-primary">Show</a></td>
<td><a href="/exercise/edit/{{exercise.id}}" class="btn btn-sm btn-warning">Edit</a></td>




</tr>

</tbody>


</table>


<script>

var app=angular.module('myapp',[]);
app.controller("myCtrl",function($scope,$http){

$scope.exercises = <%- JSON.stringify(exercises) %>;
$scope.propertyName = 'name';
  $scope.reverse = true;
  $scope.sortBy = function(propertyName) {
    $scope.reverse = ($scope.propertyName === propertyName) ? !$scope.reverse : false;
    $scope.propertyName = propertyName;
  };

$scope.search="";
$scope.crit=["name"];


});

</script>


</body>
</html>
